<fieldset>
    <legend>Categories</legend>
    <table>

        @for (parent_cat of _parentCategories; track parent_cat.id) {
        <tr>
            <td class="parent_cat"><a href="javascript:void(0);" (click)="okMoveParentCategory(parent_cat.id, parent_cat.position-1)">up</a></td>
            <td class="parent_cat"><a href="javascript:void(0);" (click)="okMoveParentCategory(parent_cat.id, parent_cat.position+1)">down</a></td>
            <td class="parent_cat">{{ parent_cat.position }}</td>
            <td class="parent_cat">{{ parent_cat.name }}</td>
        </tr>
            @for (category of parent_cat['child_categories']; track category.id) {
            <tr><td colspan="4">
                {{ category.name }} @if (category.can_be_deleted) {
                    <a href="javascript:void(0);" (click)="okClickDeleteCategory(category.id)">Delete</a>
                }
            </td></tr>
             }
         }
        </table>
</fieldset>

<form [formGroup]="_newParentCategoryForm" (ngSubmit)="onSubmitParent()">
    <fieldset>
        <legend>Add a parent category</legend>
        <div>
            <label>Parent category name</label><input formControlName="parent_category_name">
        </div>
        <button type="submit">Add parent category</button>
    </fieldset>
</form>
<form [formGroup]="_newCategoryForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <legend>Add new category</legend>
        <div>
            <label>Category name</label><input formControlName="category_name">
        </div>
        <div>
            <label>Parent category</label>
            <select formControlName="id_parent">
                @for (parent_cat of _parentCategories; track parent_cat.id) {
                <option [value]="parent_cat.id">{{ parent_cat.name }}</option>
                }
            </select>
        </div>
        <button type="submit">Add category</button>
    </fieldset>
</form>
