table, td {
    border: 1px solid;
    border-collapse: collapse;
}

.parent_cat {
    background-color: navy;
    color: white;
    font-family: Arial;
}

.child_cat {
    background-color: white;
    color: black;
    font-family: Arial;
}
