<fieldset>
    <legend>Categories</legend>
    <table class="parent_cat">
        @for (parent_cat of _parentCategories; track parent_cat.id) {
        <tr>
            <td class="parent_cat">
                @if (parent_cat.position > 1) {
                <a class="arrow" href="javascript:void(0);" (click)="okMoveParentCategory(parent_cat.id, parent_cat.position-1)">&#8593;</a>
                } @else { &nbsp; }
            </td>
            <td class="parent_cat">
                @if (parent_cat.position < _parentCategories.length) {
                <a class="arrow" href="javascript:void(0);" (click)="okMoveParentCategory(parent_cat.id, parent_cat.position+1)">&#8595;</a>
                } @else { &nbsp; }
            </td>
            <td class="parent_cat">{{ parent_cat.position }}</td>
            <td class="parent_cat">{{ parent_cat.name }}</td>
        </tr>
            @for (category of parent_cat['child_categories']; track category.id) {
        <tr>
            <td class="child_cat" colspan="3">&nbsp;</td>
            <td class="child_cat">
                {{ category.name }} @if (category.can_be_deleted) {
                    <a class="arrow" href="javascript:void(0);" (click)="okClickDeleteCategory(category.id)">[X]</a>
                }
            </td>
        </tr>
             }
         }
        </table>
</fieldset>

<form [formGroup]="_newParentCategoryForm" (ngSubmit)="onSubmitParent()">
    <fieldset>
        <legend>Add a parent category</legend>
        <div>
            <label>Parent category name</label><input formControlName="parent_category_name">
        </div>
        <button type="submit">Add parent category</button>
    </fieldset>
</form>
<form [formGroup]="_newCategoryForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <legend>Add new category</legend>
        <div>
            <label>Category name</label><input formControlName="category_name">
        </div>
        <div>
            <label>Parent category</label>
            <select formControlName="id_parent">
                @for (parent_cat of _parentCategories; track parent_cat.id) {
                <option [value]="parent_cat.id">{{ parent_cat.name }}</option>
                }
            </select>
        </div>
        <button type="submit">Add category</button>
    </fieldset>
</form>
