<form [formGroup]="_newMasterCategoryForm" (ngSubmit)="onSubmitMaster()">
    <fieldset>
        <legend>Add new master category</legend>
        <div>
            <label>Master category name</label><input formControlName="master_category_name">
        </div>
        <button type="submit">Create master category</button>
    </fieldset>
</form>
<form [formGroup]="_newCategoryForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <legend>Add new category</legend>
        <div>
            <label>Category name</label><input formControlName="category_name">
        </div>
        <select formControlName="id_parent">
            @for (parent_cat of _parent_categories; track parent_cat.id) {
            <option [value]="parent_cat.id">{{ parent_cat.parent_name }}</option>
            }
        </select>
        <button type="submit">Create category</button>
    </fieldset>
</form>
<fieldset>
    <legend>List of categories</legend>
    @for (cat of _categories; track cat.id) {
    <div>{{ cat.name }} {{ cat.parent_name }}</div>
    }
</fieldset>
