table, td {
    border: 1px solid;
    border-collapse: collapse;
    border-color: black;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray */
}

tr:nth-child(odd) {
    background-color: #ffffff; /* White */
}

.parent_cat {
    background-color: navy;
    color: #fff;
    font-family: Arial
}

.child_cat {
    background-color: #fff;
    color: #000;
    font-family: Arial;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.arrow {
    color: white;
}

.delete {
    color: red;
}
