<!-- about.component.html -->
<div><a routerLink="/login">Log in</a></div>
<div><a routerLink="/sign-up">Sign up</a></div>
<div>
  <button mat-raised-button color="primary" (click)="getServerInfo()">
    Refresh Status
  </button>
</div>

<div>
  <button mat-raised-button color="primary" (click)="onClickTest()">
    Test something
  </button>
</div>

<div>Client version (Jenkins build number) : {{ this._clientVersion }}<div>
<div>API server status : {{ this._apiServerStatus }}</div>
<div>API version : {{ this._apiVersion }}</div>
<div><a href="{{ this._apiDocUrl }}">API Documentation (Swagger)</a></div>
<div>Database server status : {{ this._dbServerStatus }}</div>
<div>Database version : {{ this._dbVersion }}</div>
