.account_name {
    display: inline;
    color: blue;
    font-size: 14px;
}

.account_balance {
    display: inline;
    color: green;
    font-size: 12px;
}

.mdc-list-item.mdc-list-item--with-one-line {
    height: 36px;
}