<mat-nav-list>
@for (label of _accountLabelKeys; track label) {
    <a mat-list-item (click)="toggle(label)" style="cursor: pointer;">
        <mat-icon matListIcon>
            {{ isExpanded(label) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
        {{ AccountLabel[label] }}
    </a>
    @for (account of _accounts.get(label); track account.id) {
        @if (isExpanded(label)) {
            <a mat-list-item routerLink="/account/{{account.id}}">
                <div matLine class="account_name">
                    {{ account.name }}
                </div>
                <div matLine class="account_balance">
                    {{ account.balance | formatAmount }}
                </div>
            </a>
        }
    }
}
</mat-nav-list>

<!--
<table>
    <tr>
        <td class="account_list">
        @for (label of _accountLabelKeys; track label) {
            <div>{{ AccountLabel[label] }}</div>
            <table>
                @for (account of _accounts.get(label); track account.id) {
                <tr>
                    <td><a routerLink="/account/{{account.id}}" class="account_name" [class]="{'selected': this.isSelectedAccount(account.id)}">{{ account.name }}</a></td>
                    <td>{{ account.balance | formatAmount }}</td>
                </tr>
                }
            </table>
            <br>
            }
        </td>
    </tr>
</table>
-->
