<table>
    <tr><th class="parent_cat" colspan="2">Payees</th></tr>
    @for (payee of _payees; track payee.id) {
        @let colspan = payee.can_be_deleted ? 1 : 2;
        <tr>
            <td class="child_cat" [attr.colspan]="colspan">{{ payee.name }}</td>
            @if (payee.can_be_deleted) {
                <td class="child_cat">
                    <a class="delete" href="javascript:void(0);" (click)="okClickDeletePayee(payee.id)">X</a>
                </td>
            }
        </tr>
    }
</table>

<form [formGroup]="_newPayeeForm" (ngSubmit)="onClickAddPayee()">
    <fieldset>
        <legend>Add payee</legend>
        <div>
            <label>Payee name</label><input formControlName="payee_name"><button type="submit">Add payee</button>
        </div>
    </fieldset>
</form>
