a.account_status {
    padding: 2px;
    font-family: Verdana;
    border-radius: 2px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.open {
    background: green;
}

.closed {
    background-color: #d90909;
}

a:hover {
    background-color:cadetblue;
}

.selected {
    background-color:chartreuse;
}

td.account_list {
    vertical-align:top;
}

td.txn_list {
    vertical-align: top;
}
