<mat-nav-list>
@for (label of _accountLabelKeys; track label) {
    <a mat-list-item>{{ AccountLabel[label] }}</a>
    @for (account of _accounts.get(label); track account.id) {
        <a mat-list-item routerLink="/account/{{account.id}}">
            <div class="account_name">{{ account.name }}</div>
            <div class="account_balance">{{ account.balance | formatAmount }}</div>
        </a>
    }
}
</mat-nav-list>

<!--
<table>
    <tr>
        <td class="account_list">
        @for (label of _accountLabelKeys; track label) {
            <div>{{ AccountLabel[label] }}</div>
            <table>
                @for (account of _accounts.get(label); track account.id) {
                <tr>
                    <td><a routerLink="/account/{{account.id}}" class="account_name" [class]="{'selected': this.isSelectedAccount(account.id)}">{{ account.name }}</a></td>
                    <td>{{ account.balance | formatAmount }}</td>
                </tr>
                }
            </table>
            <br>
            }
        </td>
    </tr>
</table>
-->
