@for (budget_line of _budget; track budget_line.id_period) {
<div>{{ budget_line.id_period }}</div>
<table>
    <tr>
        <td>

            <table class="parent_cat">
                @for (parent_cat of _parentCategories; track parent_cat.id) {
                    <tr><td class="parent_cat">{{ parent_cat.name }}</td></tr>
                    @for (category of parent_cat['child_categories']; track category.id) {
                        @if (cat = getCategoryBudgetLine(budget_line.id_period, category.id) != null) {
                            <tr><td class="child_cat">{{ cat.spent }} / {{ cat.funded }}</td></tr>
                        } @else {
                            <tr><td class="child_cat">{{ category.name }}</td></tr>
                        }
                    }
                }
            </table>


        </td>
    </tr>

    }
</table>
}

<!--
@for (budget_line of _budget; track budget_line.id_period) {
<div>{{ budget_line.id_period }}</div>
<table>
    <tr><th>id</th><th>Category</th><th>Budgeted</th><th>Outflows</th><th>Balance</th></tr>
    @for (category of budget_line.categories; track category.id) {
    <tr>
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td class="budget_amount">{{ category.funded | formatAmount }}</td>
        <td class="budget_amount">{{ category.spent | formatAmount }}</td>
        <td class="budget_amount" [class.overspent]="category.funded + category.spent < 0">{{ (category.funded + category.spent) | formatAmount }}</td>
    </tr>
    }
</table>
}
-->

