table, td {
    border: 1px solid;
    border-collapse: collapse;
    border-color: black;
    font-family: Arial;
    font-size: 14px;
}

th {
    background-color: navy;
    color: #fff;
}

.budget_month_year {
    text-align: center;
}

.budget_amount {
    text-align: right;
    width: 90px;
}

.overspent {
    color: red;
    font-weight:bold;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}
