table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid;
    border-color: #000;
    font-family: Arial;
    font-size: 14px
}

td.parent_cat {
    background-color: navy;
    color: #fff
}

th {
    background-color: navy;
    color: #fff
}

th.period {
    background-color: #008b8b;
    color: #fff
}

tr.subcategory:hover {
    background-color: #d7d7d7;
}

.editable:hover {
    background-color: #ff0;
}

.budget_month_year {
    text-align: center
}

.budget_amount {
    text-align: right;
    width: 90px
}

.overspent {
    color: red
}

.empty {
    background-color: #fff;
    border: 0px solid;
}
