<br/>
<form>
<table class="budget">
    <tr>
        <th class="empty">&nbsp;</th>
        @for (budget_line of _budget; track budget_line.id_period) {
            <th class="period" colspan="3">{{ budget_line.id_period }}</th>
        }
    </tr>

    <tr>
        <td class="empty">&nbsp;</td>
        @for (budget_line of _budget; track budget_line.id_period) {
            <td>Budgeted</td><td>Outflows</td><td>Remaining</td>
        }
    </tr>

    @for (parent_cat of _parentCategories; track parent_cat.id) {
        <tr>
            <td class="parent_cat">{{ parent_cat.name }}</td>
            @for (budget_line of _budget; track budget_line.id_period) {
                <td class="parent_cat" colspan="3">&nbsp;</td>
            }
        </tr>
        @for (allCat of parent_cat['child_categories']; track allCat.id) {
	        <tr class="subcategory">
		        <td>{{ allCat.name }}</td>
		        @for (budget_line of _budget; track budget_line.id_period) {
			        @let budgetedCat = getCategoryBudgetLine(budget_line.id_period, allCat.id);
                    <td class="budget_amount">
                        <input type="text" (keydown.enter)="myFunction($event)" class="budget_amount editable" name="funded" [attr.value]="budgetedCat ? budgetedCat.funded | formatAmount : null">
			        </td>
                    <td class="budget_amount"> @if (budgetedCat) { {{ budgetedCat.spent | formatAmount }} } </td>
                    <td class="budget_amount" [class.overspent]="budgetedCat.remaining < 0"> @if (budgetedCat) { {{ budgetedCat.remaining | formatAmount }} }</td>
		        }
	        </tr>
        }
    }
</table>
</form>
