table, td {
    border: 1px solid;
    border-collapse: collapse;
    border-color: black;
    font-family: Arial;
    font-size: 14px;
}

td.parent_cat {
    background-color: navy;
    color: #fff;
}

th {
    background-color: navy;
    color: #fff;
}

th.period {
    background-color: darkcyan;
    color: white;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr.subcategory:hover {
    background-color: coral;
}

td.subcategory:hover {
    background-color: yellow;
}

.budget_month_year {
    text-align: center;
}

.budget_amount {
    text-align: right;
    width: 90px;
}

.overspent {
    color: red;
}

