.app-shell {
    height: 100vh;
}

.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

mat-nav-list {
    flex: 1;
}

.add-account {
    padding: 8px;
}

.full-width {
    width: 100%;
}

.toggle-btn {
    text-align: center;
    padding: 8px 0;
}

.app-content {
    padding: 16px;
}

.mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
    height: 40px
}

.account_name {
    display: inline;
    color: blue;
    font-size: 14px;
}

.account_balance {
    display: inline;
    color: green;
    font-size: 12px;
}

.mdc-list-item.mdc-list-item--with-one-line {
    height: 36px;
}
