<nav>
    @if (_isLoggedIn) {
    <a routerLink="/accounts">All accounts</a>
    |
    <a routerLink="/budget">Budget (TODO)</a>
    |
    <a routerLink="/payee">Payees</a>
    |
    <a routerLink="/category">Categories</a>
    |
    <!-- <a routerLink="/transaction">Transactions</a>| -->
    <a routerLink="/user">User settings</a>
    |
    <a href="javascript:void(0);" (click)="logout()">Log out</a>
    } @else {
    <a routerLink="/login">Log in</a>
    |
    <a routerLink="/user/sign-up">Sign up</a>
    }
    |
    <a routerLink="/">About</a>
</nav>
<router-outlet/>
