/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

.side-nav {
    background-color: #FB8C00;
}

.side-nav .mat-list-item,
.side-nav .mat-list-item .mat-icon {
    color: #FFF;
}

.side-nav .mat-list-item {
    padding-top: 4px;
    padding-bottom: 4px;
}
