table, td, th {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

th {
    background-color: burlywood;
}

.amount {
    text-align: right;
}

.system {
    font-style: italic;
    color: darkslategray;
}

.category-not-needed {
    color: gray;
    font-style: italic;
}

.category-uncategorized {
    color: red;
    font-weight: bold;
}

.category-normal {
    color: black;
}
