<form [formGroup]="_editTxnForm" (ngSubmit)="onUpdateTransactionClick()">
    <table>
        <tr>
            @if (this._selectedAccount == null) { <th>Account</th> } <th>Date</th><th>Payee</th><th>Category</th><th>Memo</th><th>Outflow</th><th>Inflow</th><th>Actions</th>
        </tr>
        @for (txn of this._transactions; track txn.id) {
        <tr>
            @if (this._selectedAccount == null) {
            <td>{{ txn.account_name }}</td>
            }
            <td>{{ txn.date }}</td>
            <td>{{ txn.payee_name }}</td>

            <td [class]="getCategoryClass(txn)" (click)="beginEditCategory(txn)" style="cursor: pointer;">
                @if (_currentlyEditingTxnId === txn.id && getCategoryStatus(txn) === 'uncategorized') {
                  <!-- If this transaction is in edit mode, show a select dropdown -->
	                <select formControlName="id_category" (change)="onCategoryChanged(txn)" (blur)="cancelEditCategory()">
	                @for (parent_cat of _parentCategories; track parent_cat.id) {
		                @if (parent_cat.id != 0) {
			                <option [disabled]="true" [value]="parent_cat.id">{{ parent_cat.name }}</option>
		                }
		                @for (category of parent_cat["child_categories"]; track category.id) {
			                <option [value]="category.id">{{ category.name }}</option>
		                }
	                }
	                </select>
                } @else {
                    {{ getCategoryLabel(txn) }}
                }
                </td>

            <td>{{ txn.memo }}</td>
            @if (txn.flow == -1) { <td class="amount">{{ txn.amount | formatAmount }}</td> <td>&nbsp;</td> } @else {
            <td>&nbsp;</td> <td class="amount">{{ txn.amount | formatAmount }}</td> }
            <td><a href="javascript:void(0);" (click)="deleteTransaction(txn.id)">Delete</a></td>
        </tr>
        }
    </table>
</form>

<!-- New transaction form -->
<form [formGroup]="_newTxnForm" (ngSubmit)="onAddTransactionClick()">
    <fieldset>
        <legend>New transaction</legend>
        @if (this._selectedAccount != null) { <input formControlName="id_account" type="hidden"> }
        <table>
            <tr>@if (this._selectedAccount == null) { <th>Account</th> } <th>Date</th><th>Payee</th><th>Category</th><th>Memo</th><th>Amount</th></tr>
            <tr>
                @if (this._selectedAccount == null) {
                <td><select formControlName="id_account">
                    @for (account of _accounts; track account.id) { <option [value]="account.id">{{ account.name }}</option> }
                    </select> </td> }
                <td><input type="date" formControlName="date"></td>
                <td><select formControlName="id_payee">
                    @for (payee of _payees; track payee.id) {
                    <option [value]="payee.id">{{ payee.name }}</option> }
                </select></td>
                <td><select formControlName="id_category">
                @for (parent_cat of _parentCategories; track parent_cat.id) {
                    @if (parent_cat.id != 0) {
                        <option [disabled]="true" [value]="parent_cat.id">{{ parent_cat.name }}</option>
                    }
                    @for (category of parent_cat["child_categories"]; track category.id) {
                        <option [value]="category.id">{{ category.name }}</option>
                    }
                }
                </select></td>
                <td><input formControlName="memo"></td>
                <td>
                    <input formControlName="amount">&nbsp;
                    <input formControlName="flow" type="radio" id="outflow" value="-1"><label for="outflow">Outflow</label>
                    <input formControlName="flow" type="radio" id="inflow" value="1"><label for="inflow">Inflow</label>
                </td>
            </tr>
        </table>
        <button type="submit" [disabled]="!_newTxnForm.valid">Add transaction</button>
    </fieldset>
</form>

<!-- New transfer form -->
<form [formGroup]="_newTsfForm" (ngSubmit)="onAddTransferClick()">
    <fieldset>
        <legend>New transfer</legend>
        @if (this._selectedAccount != null) { <input formControlName="id_account_outflow" type="hidden"> }
        <table>
            <tr>@if (this._selectedAccount == null) { <th>From account</th> } <th>To account</th><th>Date</th><th>Memo</th><th>Amount</th></tr>
            <tr>
                @if (this._selectedAccount == null) {
                <td><select formControlName="id_account_outflow">
                    @for (account of this._filteredOutflowAccounts; track account.id) {
                    <option [value]="account.id">{{ account.name }}</option> }
                </select></td>}
                <td><select formControlName="id_account_inflow">
                    @for (account of this._filteredInflowAccounts; track account.id) {
                        @if (account.id != this._selectedAccount) {
                            <option [value]="account.id">{{ account.name }}</option>
                        }
                    }
                </select></td>
                <td><input type="date" formControlName="date"></td>
                <td><input formControlName="memo"></td>
                <td><input formControlName="amount"></td>
            </tr>
        </table>
        <button type="submit" [disabled]="!_newTsfForm.valid">Add transfer</button>
    </fieldset>
</form>
