<form [formGroup]="_newTxnForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <legend>Add transaction</legend>
        <div>
            <label>Account</label>
            <select formControlName="account_name">
                @for (account of _accounts; track account.id) {
                <option [value]="account.id">{{ account.name }}</option>
                }
            </select>
        </div>
        <div>
            <label>Date</label>
            <input type="date" formControlName="txn_date">
        </div>

        <div>
            <label>Payee</label>
            <select formControlName="payee_name">
                @for (payee of _payees; track payee.id) {
                <option [value]="payee.id">{{ payee.name }}</option>
                }
            </select>
        </div>

        <button type="submit">Add</button>
    </fieldset>
</form>


<div>Transactions</div>
<table>
    <tr><th>Account</th><th>Date</th><th>Payee</th><th>Memo</th><th>Outflow</th><th>Inflow</th></tr>
    @for (txn of this._transactions; track txn.id) {
    <tr>
        <td>{{ txn.account }}</td>
        <td>{{ txn.date }}</td>
        <td>{{ txn.payee }}</td>
        <td>{{ txn.memo }}</td>
        @if (txn.flow == 'Outflow') {
        <td class="amount">{{ txn.amount }}</td>
        <td>&nbsp;</td>
        }
        @else {
        <td>&nbsp;</td>
        <td class="amount">{{ txn.amount }}</td>
        }
    </tr>
    }
</table>
