<div>Transactions</div>
<table>
    <tr><th>Account</th><th>Date</th><th>Payee</th><th>Memo</th><th>Outflow</th><th>Inflow</th></tr>
    @for (txn of this._transactions; track txn.id) {
    <tr>
        <td>{{ txn.account }}</td>
        <td>{{ txn.date }}</td>
        <td>{{ txn.payee }}</td>
        <td>{{ txn.memo }}</td>
        @if (txn.flow == 'Outflow') {
        <td class="amount">{{ txn.amount }}</td>
        <td>&nbsp;</td>
        }
        @else {
        <td>&nbsp;</td>
        <td class="amount">{{ txn.amount }}</td>
        }
    </tr>
    }
</table>
