<form [formGroup]="_newAccountForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
        <label>Account name</label><input name="account_name" formControlName="account_name">
    </div>
    <label for="dropdown">Account type</label>
    <select id="dropdown" formControlName="account_type">
        @for (accType of _accountTypes; track accType) {
        <option [value]="accType.value">{{ accType.label }}</option>
        }
    </select>

    <button type="submit">Create</button>
</form>

@for (account of _accounts; track account._name) {
<div>
    {{ account._name }}
    @if (account._type == 1) {
    <p>On-budget</p>
    } @else {
    <p>Off-budget</p>
    }
 </div>
}