<table>
    <tr>
        <td class="account_list">
            <fieldset>
                <legend>List of accounts</legend>
                @for (accountLabel of _accountLabels; track accountLabel) {
                <div>{{ _accountLabels[accountLabel] }}</div>
                <table>
                    @for (account of _accounts.get(accountLabel); track account.id) {
                    <tr>
                        <td><a routerLink="/account/{{account.id}}" class="account_name" [class]="{'selected': this.isSelectedAccount(account.id)}">{{ account.name }}</a></td>
                        <td>{{ account.balance | formatAmount  }}</td>
                    </tr>
                    }
                </table>
                <br>
                }
            </fieldset>
            <form [formGroup]="_newAccountForm" (ngSubmit)="onClickCreateAccount()">
                <fieldset>
                    <legend>Add new account</legend>
                    <div class="form-field">
                        <label>Account name</label><input name="account_name" formControlName="account_name">
                    </div>
                    <div>
                        <label for="dropdown">Account type</label>
                        <select id="dropdown" formControlName="account_type">
                            @for (accountType of _accountTypes; track accountType.id) {
                            <option [value]="accountType.label">{{ accountType.label }}</option>
                            }
                        </select>
                    </div>
                    <button type="submit">Create</button>
                </fieldset>
            </form>
        </td>
        <td class="txn_list">
            <app-transaction (_transactionChanged)="onTransactionsChanged()" [_selectedAccount]="this._selectedAccount"></app-transaction>
        </td>
    </tr>
</table>
